<% open('ngrok.log') do |f| %>
  <% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
    Server của chúng mình là <%= line.match(/tcp:\/\/(.+:[0-9]+) /)[1]  :3%>
    <br />
  <% end %>
<% end %>
