<% open('ngrok.log') do |f| %>
  <% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
    Our_server_:3_#StayHomePlease ______________ <%= line.match(/tcp:\/\/(.+:[0-9]+) /)[1] %>
  <% end %>
<% end %>
